{% extends 'base.html' %}
{%load staticfiles%}

{% block title %} Quadware {% endblock %}

{% block content %}
<!--Carrousel-->
<div id="inicio" class="section scrollspy">
<div class="carousel carousel-slider center">
  <div class="carousel-fixed-item center">
    <!-- <a class="btn waves-effect waves-light teal lighten-1" onclick="borrardiv();">Conocenos</a> -->
  </div>
  <div class="carousel-item">
    <img src="{% static 'media/ewally.png' %}" alt="banner">
  </div>
  <div class="carousel-item">
    <img src="{% static 'media/ewally_prize.jpg' %}" alt="banner2">
  </div>
  <div class="carousel-item">
    <img src="{% static 'media/ewally_campana.jpg' %}" alt="banner2">
  </div>
  <!-- <div class="carousel-item">
    <img src="{% static 'media/ewally_ensenada.jpg' %}" alt="banner2">
  </div> -->
</div>
</div>
<!--Banner-->
<!-- <div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text darken-3">Quadware</h1>
      <div class="row center">
        <h5 class="header col s12 light">Soluciones CAD y Capacitaciones de SolidWorks, AutoCAD y MasterCAM.</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">
          Conocenos</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{% static 'media/foto3.jpg' %}" alt="Unsplashed background img 1"></div>
</div> -->

<div class="container">
  <div class="section">
    <!--Informacion de Quadware-->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">event_note</i></h2>
          <h5 class="center">¿Quiénes Somos?</h5>
          <p class="light">Somos una empresa que ofrece servicios de
            recolección de materiales reciclables de una
            manera fácil, rápida y segura para tu hogar o
            negocio.</p>
        </div>
      </div>


      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">location_city</i></h2>
          <h5 class="center">Servicio de acopio de electrónicos</h5>
          <p class="light">Nuestro servicio contempla la recolección de
            aparatos electrónicos en empresas privadas,
            mismas que cuentan con la libertas de recibir de
            externos (empleados o empresas aledañas) los
            productos a tratar.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">desktop_windows</i></h2>
          <h5 class="center">Un servicio de calidad a excelente precio</h5>
          <p class="light">La atención con cada uno de nuestros clientes es
            especialiada, por eso contamos con un plan flexible para las
            empresas que solicitan de nuestro servicio.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<!--Conocenos-->

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <!-- Scroll -->
      <div id="conocenos" class="section scrollspy">
      <h1 class="header center light-green-text ">Conócenos</h1> <!--text-darken-1-->
      </div>
      <div class="row center">
        <!-- <h5 class="header col s12 light">Soluciones CAD y Capacitaciones de SolidWorks, AutoCAD y MasterCAM.</h5> -->
      </div>
      <!-- <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">
          Conocenos</a>
      </div> -->
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{% static 'media/ewally_ensenada.jpg' %}" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="{% static 'media/mision.jpg' %}">
            <span class="card-title">Misión</span>
          </div>
          <div class="card-content">
            <p>Nos comprometemos a recuperar la mayor cantidad de materiales reciclables con la
            finalidad de crear una nueva economía para la protección del medio ambiente, de
            nuestros empleados, vecinos, comunidades y clientes en México, como en todo el
            mundo.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="{% static 'media/vision.jpg' %}" height="248">
            <span class="card-title">Visión</span>
          </div>
          <div class="card-content">
            <p style="height:182px;">Crear una economía circular dentro de los residuos generados por la comunidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Servicios-->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- Scroll -->
          <div id="servicios" class="section scrollspy">
          <h1 class="header center light-green-text">Servicios</h1>
          </div>
          <!-- <h5 class="header col s12 light">Aquí preguntar si va algo</h5> -->
        </div>
      </div>
    </div>
  <div class="parallax"><img src="{% static 'media/ewally_servicios.jpg' %}" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">airport_shuttle</i></h2>
          <h5 class="center">Gestión y recolección de residuos</h5>
          <!-- <p class="light">Proveer soluciones y capacitaciones de CAD a las empresas
            y personas que esten dentro de este ramo.</p> -->
        </div>
      </div>


      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">assignment</i></h2>
          <h5 class="center">Certificación ambiental</h5>
          <!-- <p class="light">Centro de Capacitaciones, Soluciones de diseño mecánico y
            maquinado industrial.</p> -->
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">domain</i></h2>
          <h5 class="center">Campañas publicitarias</h5>
          <!-- <p class="light">Soluciones CAD, Capacitaciones de SolidWorks, AutoCAD y
            MasterCAM.</p> -->
        </div>
      </div>
       <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">delete</i></h2>
          <h5 class="center">Contenedores</h5>
          <!-- <p class="light">Soluciones CAD, Capacitaciones de SolidWorks, AutoCAD y
            MasterCAM.</p> -->
        </div>
      </div>
    </div>
<!--     <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">account_balance</i></h2>
          <h5 class="center">Misión</h5>
          <p class="light">Proveer soluciones y capacitaciones de CAD a las empresas
            y personas que esten dentro de este ramo.</p>
        </div>
      </div>


      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">lverified_user</i></h2>
          <h5 class="center">Perfil de la empresa</h5>
          <p class="light">Centro de Capacitaciones, Soluciones de diseño mecánico y
            maquinado industrial.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">watch_later</i></h2>
          <h5 class="center">Productos</h5>
          <p class="light">Soluciones CAD, Capacitaciones de SolidWorks, AutoCAD y
            MasterCAM.</p>
        </div>
      </div>
    </div> -->
  </div>
</div>

<!--Equipo-->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!--Scroll-->
          <div id="equipo" class="section scrollspy">
          <h1 class="header center light-green-text">Equipo</h1> <!--text-accent-1-->
          </div>
          <!-- <h5 class="header col s12 light">Aquí preguntar si va algo</h5> -->
        </div>
      </div>
    </div>
  <div class="parallax"><img src="{% static 'media/equipo.jpg' %}" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="card small">
          <div class="card-image">
            <img src="{% static 'media/equipo1.jpg' %}" >
            <span class="card-title">Daniel Serrano</span>
          </div>
          <div class="card-content">
            <p>Preguntar Descripcion</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card small">
          <div class="card-image">
            <img src="{% static 'media/equipo2.jpg' %}">
            <span class="card-title">Luis Contreras</span>
          </div>
          <div class="card-content">
            <p>Preguntar Descripcion</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card small">
          <div class="card-image">
            <img src="#">
            <span class="card-title">#</span>
          </div>
          <div class="card-content">
            <p>#</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contacto -->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- Scroll -->
          <div id="contacto" class="section scrollspy">
          <h1 class="header center light-green-text">Contacto</h1>
          </div>
          <!-- <h5 class="header col s12 light">Aquí preguntar si va algo</h5> -->
        </div>
      </div>
    </div>
  <div class="parallax"><img src="{% static 'media/contacto.jpg' %}" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s6">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3364.1633064644766!2d-117.0180488853254!3d32.521785104263614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9495e29043a0d%3A0x2ad132e4193cc14c!2sQuadware+Training+%26+Business+Room!5e0!3m2!1ses-419!2smx!4v1553719171731" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col s6">
        <h5><b> Horario <i class="material-icons tiny">contact_phone</i> </b></h5>
        <p>Lunes a Domingo de 10:00 am a 8:00 pm.</p>
        <br>
        <h5> <b> Correo Electronico <i class="material-icons tiny">contact_mail</i></b> </h5>
        <p>dserrano@ewally.com.mx</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
